{% load static %}
<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  AI_ALIENEER  {% endblock %}</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'aialieneer/css/bootstrap.min.css' %}">
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'aialieneer/css/font-awesome.min.css' %}">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{% static 'aialieneer/css/elegant-fonts.css' %}">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{% static 'aialieneer/css/themify-icons.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'aialieneer/css/swiper.min.css' %}">
    

    <!-- All.Min CSS -->
    <!-- <link href="{static 'aialieneer/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'aialieneer/css/ai-eng-2.min.css' %}" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'aialieneer/style.css' %}">
    {% endblock %}
    
</head>



<body>
    
    <!-- Header Start -->
    <header class="site-header">
        {% block header %}
        <div class="top-header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email d-flex align-items-center">
                            <i class="fa fa-envelope"></i><a href="www.gmail.com">Mubasshir.Ali42@gmail.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text lg-flex align-items-center">
                            <p><i class="fa fa-phone"></i>+92-302-7348343 </p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="header-bar-search">
                            <form class="flex align-items-stretch">
                                <input type="search" placeholder="What would you like to learn?">
                                <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                            </form>
                        </div><!-- .header-bar-search -->

                        <div class="header-bar-menu">
                            <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                <li><a href="signup">Signup</a></li>
                                <li><a href="login">Login</a></li>
                            </ul>
                        </div><!-- .header-bar-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            {% block nav %}
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        
                        <div class="site-branding">
                            <h1 class="site-title"><a href="index" rel="home">AI<span>ALIENEER</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                        <nav class="site-navigation flex justify-content-end align-items-center">
                             <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="index">Home</a></li>
                                <li class="current-menu-item"><a href="about">About</a></li>
                                <li class="current-menu-item"><a href="courses">Courses</a></li>
                                <li class="current-menu-item"><a href="blog">Blog</a></li>
                                <li class="current-menu-item"><a href="contact">Contact</a></li>
                            </ul>

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <div class="header-bar-cart">
                                <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                            </div><!-- .header-bar-search -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
            {% endblock %}
        </div><!-- .nav-bar -->
        {% endblock %}
    </header><!-- .site-header -->
    <!-- Header End -->
    {% block body %} {% endblock %}
    

    <div class="clients-logo">
        {% block logo %}  
        <div class="container">
            <div class="row">
                <div class="col-12 flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
                    <div class="logo-wrap">
                        <img src="{% static 'aialieneer/images/logo-1.png' %}" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="{% static 'aialieneer/images/logo-2.png' %}" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="{% static 'aialieneer/images/logo-3.png' %}" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="{% static 'aialieneer/images/logo-4.png' %}" alt="">
                    </div><!-- .logo-wrap -->

                    <div class="logo-wrap">
                        <img src="{% static 'aialieneer/images/logo-5.png' %}" alt="">
                    </div><!-- .logo-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
        {% endblock %}
    </div><!-- .clients-logo -->
   
    <!-- Footer Statrt -->
    <footer class="site-footer">
        {% block footer %}
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <a class="foot-logo" href="index"><img src="{% static 'aialieneer/images/logoo.png' %}" alt=""></a>

                            <p>They are not excepteur cupidatat excepteur blinds, there are the offices of dese is soothing to the soul, that is to blame is he who from your troubles. </p>

                            <p class="footer-copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://ai_alieneer.blogspot.com" target="_blank">AI_ALIENEER</a>
</p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact Us</h2>

                            <ul>
                                <li>Email: <a href ="https://accounts.google.com/">Mubasshir.Ali42@gmail.com</a></li>
                                <li>Phone: +92 302 734 8343</li>
                                <li>Address: House # 59 Sreet # 35 G-13/2 Islamabad City, PK</li>
                            </ul>
                        </div><!-- .foot-contact -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="quick-links flex flex-wrap">
                            <h2 class="w-100">Quick Links</h2>

                             <ul class="w-50">
                                <li><a href="about">About </a></li>
                                <li><a href="#">Terms of Use </a></li>
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="contact">Contact Us</a></li>
                            </ul>

                            <ul class="w-50">
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Forums</a></li>
                                <li><a href="#">Language Packs</a></li>
                                <li><a href="#">Release Status</a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                        <div class="follow-us">
                            <h2>Follow Us</h2>

                            <ul class="follow-us flex flex-wrap align-items-center">
                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- .quick-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                            <a href="https://www.apple.com/app-store/"><img src="{% static 'aialieneer/images/app-store.png' %}" alt=""></a>
                            <a href="https://play.google.com/store/apps"><img src="{% static 'aialieneer/images/play-store.png' %}" alt=""></a>
                            
                        </div><!-- .download-apps -->

                    </div>

                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <div class="footer-bar-nav">
                            <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                <li><a href="#">DPA</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div><!-- .footer-bar-nav -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
        {% endblock %}
    </footer><!-- .site-footer -->
    <!-- Footer End -->
{% block javascript %}
<script type="text/javascript" src="{% static 'aialieneer/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'aialieneer/js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'aialieneer/js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'aialieneer/js/jquery.collapsible.min.js' %}"></script>
<script type="text/javascript" src="{% static 'aialieneer/js/custom.js' %}"></script>
{% endblock %}

    
<!-- </body> -->

</html>