{% extends "aialieneer/base.html" %}
{% block title %}  single_post  {% endblock %}


<body class="single-blog-post">
    {% block body %} 
    {% load static %}
    <div class="page-header">
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1 class="entry-title">The Unreal Engine Developer Course Learn C++ & Make Games</h1>

                            <div class="entry-meta flex justify-content-center align-items-center">
                                <div class="post-author"><a href="#">Ms. Lara Croft </a></div>

                                <div class="post-comments"><a href="#">02 Comments</a></div>
                            </div><!-- .entry-meta -->
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-10">
                <div class="featured-image">
                    <img src="{% static 'aialieneer/images/single_post.jpg' %}" alt="">

                    <div class="posted-date position-absolute">
                        <div class="day">23</div>
                        <div class="month">mar</div>
                    </div><!-- .posted-date -->
                </div><!-- .featured-image -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
                <div class="post-share">
                    <h3>share</h3>

                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-thumb-tack"></i></a></li>
                    </ul>
                </div><!-- .post-share -->
            </div><!-- .col -->

            <div class="col-12 col-lg-8">
                <div class="single_post-wrap">
                    <p>This is what we do: My husband monitors travel sites and email subscription services for super-cheap flights or error fares. Sometimes one of us travels for work and the other tags along. When we find a good deal, we make a split-second decision—because great airfares don’t last long—and then start planning. We’re both freelance writers, so we have some flexibility in terms of scheduling. We watch hotel prices, and often book rooms using points, free nights and other discounts. We plan carefully, and if we decide that a trip might involve stops in multiple cities, we price our transportation options. We check exchange rates on currency. We read up on attractions, look for deals, and seek out free walking tours.</p>

                    <blockquote>
                        Some people dream of success, while other people get up every morning and make it happen.”

                        <span>Wayne Huizenga</span>
                    </blockquote>

                    <p>In the past few years, we’ve been to mountains, beaches, massive cities and isolated towns you could speed through in a blink. We’ve been all over the U.S. and to a dozen or so countries. That means long flights, wandering dazedly through strange places, sometimes not knowing what or where we’ll be eating next or exactly when we’ll make it to our next destination. But it also means volcanoes, glaciers, geysers and warm friendly strangers from all over the world.</p>

                    <p>And it means memories we’ll treasure forever. Our friends think it’s kind of kitschy, but my husband, Mike, and I collect magnets from the places we go. We arrange them on the side of the fridge that faces our table in the kitchen, so that when we’re sitting together we can see the collection, which reminds us of some of our happiest times.</p>

                    <figure class="my-4"><img src="{% static 'aialieneer/images/blog-post-img.png' %}" alt=""></figure>

                    <h3 class="mb-3">Immediate Dividends</h3>

                    <p>Some part of the benefit is purely financial. There are experiences and lessons you learn on the road that can be directly applied to business and investment. You witness firsthand new trends, or the way old trends have shown up in new places, or the way some trends seem nearly universal. You see for yourself new styles of clothing, where young professionals are shopping, which brands are popular in different places. </p>

                    <p>In some countries, you need only to scan a busy street to get a clear sense of what might soon be popular in the U.S., and which American exports might be the next big thing somewhere else. (In Portugal, we were surprised when a woman in her 20s told us how much she loves Guy Fieri.)</p>
                </div><!-- .single_post-wrap -->

                <div class="tags-links mt-4">
                    <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#">Multipopuse</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Ideas</a></li>
                    </ul>
                </div><!-- .tags-links -->

                <div class="related-blog-posts">
                    <header class="entry-heading flex flex-wrap justify-content-between align-items-center">
                        <h2 class="entry-title">Related Courses</h2>

                        <a href="blog">View all</a>
                    </header><!-- .entry-heading -->

                    <div class="row mx-m-25">
                        <div class="col-12 col-lg-6 px-25">
                            <div class="blog-post-content">
                                <figure class="blog-post-thumbnail position-relative m-0">
                                    <a href="single_courses"><img src="{% static 'aialieneer/images/b-5.jpg' %}" alt=""></a>

                                    <div class="posted-date position-absolute">
                                        <div class="day">23</div>
                                        <div class="month">mar</div>
                                    </div>
                                </figure><!-- .blog-post-thumbnail -->

                                <div class="blog-post-content-wrap">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a href="#">Which investment project should my company choose?</a></h2>

                                        <div class="entry-meta flex flex-wrap align-items-center">
                                            <div class="post-author"><a href="#">Ms. Lara Croft </a></div>

                                            <div class="post-comments"><a href="#">02 Comments</a></div>
                                        </div><!-- .entry-meta -->
                                    </header><!-- .entry-header -->
                                </div><!-- .blog-post-content-wrap -->
                            </div><!-- .blog-post-content -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 px-25">
                            <div class="blog-post-content">
                                <figure class="blog-post-thumbnail position-relative m-0">
                                    <a href="single_courses"><img src="{% static 'aialieneer/images/b-6.jpg' %}" alt=""></a>

                                    <div class="posted-date position-absolute">
                                        <div class="day">23</div>
                                        <div class="month">mar</div>
                                    </div>
                                </figure><!-- .blog-post-thumbnail -->

                                <div class="blog-post-content-wrap">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a href="#">Which investment project should my company choose?</a></h2>

                                        <div class="entry-meta flex flex-wrap align-items-center">
                                            <div class="post-author"><a href="#">Ms. Lara Croft </a></div>

                                            <div class="post-comments"><a href="#">02 Comments</a></div>
                                        </div><!-- .entry-meta -->
                                    </header><!-- .entry-header -->
                                </div><!-- .blog-post-content-wrap -->
                            </div><!-- .blog-post-content -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .related-course -->

                <div class="author-box">
                    <div class="author-info flex flex-wrap">
                        <div class="author-avatar">
                            <img src="{% static 'aialieneer/images/instructor.jpg' %}" alt="">

                            <ul class="author-social-profile p-0 m-0 mt-3 d-flex flex-wrap align-items-center">
                                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .author-avatar -->

                        <div class="author-details">
                            <h3 class="author-name">Ms. Lara Croft <span>Admin</span></h3>

                            <div class="entry-content mt-3">
                                <p>Hi! I'm Colt. I'm a developer with a serious love for teaching. I've spent the last few years teaching people to program at 2 different immersive bootcamps where I've helped hundreds of people become web developers and change their lives. My graduates work at companies like Google, Salesforce, and Square.</p>
                            </div><!-- .entry-content -->
                        </div><!-- .author-details -->
                    </div><!-- .author-info -->
                </div><!-- .author-box -->

                <div class="post-comments-wrap">
                    <div class="post-comments">
                        <h3 class="comments-title"><span class="comments-number">02 Comments</span></h3>

                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <figure class="comment-author-avatar">
                                        <img src="{% static 'aialieneer/images/c-1.png' %}" alt="">
                                    </figure><!-- .comment-author-avatar -->

                                    <div class="comment-wrap">
                                        <div class="comment-author">
                                            <span class="comment-meta d-block">
                                                <a href="#">27 Aug 2018</a>
                                            </span><!-- .comment-meta -->

                                            <span class="fn">
                                                <a href="#">Chris Hadfield</a>
                                            </span><!-- .fn -->
                                        </div><!-- .comment-author -->

                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>

                                        <div class="reply">
                                            <a href="#">like</a>
                                            <a href="#">reply</a>
                                        </div><!-- .reply -->
                                    </div><!-- .comment-wrap -->

                                    <div class="clearfix"></div>
                                </article><!-- .comment-body -->

                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <figure class="comment-author-avatar">
                                                <img src="{% static 'aialieneer/images/c-2.png' %}" alt="">
                                            </figure><!-- .comment-author-avatar -->

                                            <div class="comment-wrap">
                                                <div class="comment-author">
                                                    <span class="comment-meta d-block">
                                                        <a href="#">27 Aug 2018</a>
                                                    </span><!-- .comment-meta -->

                                                    <span class="fn">
                                                        <a href="#">Albert Einstein</a>
                                                    </span><!-- .fn -->
                                                </div><!-- .comment-author -->

                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi </p>

                                                <div class="reply">
                                                    <a href="#">like</a>
                                                    <a href="#">reply</a>
                                                </div><!-- .reply -->
                                            </div><!-- .comment-wrap -->

                                            <div class="clearfix"></div>
                                        </article><!-- .comment-body -->
                                    </li><!-- .comment -->
                                </ol><!-- .children -->
                            </li><!-- .comment -->

                            <li class="comment">
                                <article class="comment-body">
                                    <figure class="comment-author-avatar">
                                        <img src="{% static 'aialieneer/images/c-3.png' %}" alt="">
                                    </figure><!-- .comment-author-avatar -->

                                    <div class="comment-wrap">
                                        <div class="comment-author">
                                            <span class="comment-meta d-block">
                                                <a href="#">27 Aug 2018</a>
                                            </span><!-- .comment-meta -->

                                            <span class="fn">
                                                <a href="#">Henry Ford</a>
                                            </span><!-- .comment-autho -->
                                        </div><!-- .comment-author -->

                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi </p>

                                        <div class="reply">
                                            <a href="#">like</a>
                                            <a href="#">reply</a>
                                        </div><!-- .reply -->
                                    </div><!-- .comment-wrap -->

                                    <div class="clearfix"></div>
                                </article><!-- .comment-body -->
                            </li><!-- .comment -->
                        </ol><!-- .comment-list -->
                    </div><!-- .post-comments -->

                    <div class="comments-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a comment</h3>

                            <form class="comment-form">
                                <input type="text" placeholder="Name">
                                <input type="email" placeholder="Email">
                                <input type="url" placeholder="Website">
                                <textarea rows="4" placeholder="Messages"></textarea>
                                <input type="submit" value="send message">
                            </form><!-- .comment-form -->
                        </div><!-- .comment-respond -->
                    </div><!-- .comments-form -->
                </div><!-- .post-comments-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

{% endblock %}